<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Passa Plantão{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="header">
        <h1><a href="{{ url_for('painel_diario') }}">Passa Plantão</a></h1>
   <nav class="header-nav">
    {% if current_user.is_authenticated %}
        <span>Olá, {{ current_user.nome_completo }}</span>
        
        <a href="{{ url_for('alterar_senha') }}">Alterar Senha</a>

        <a href="{{ url_for('arquivo') }}">Arquivo</a>

        {% if current_user.funcao == 'admin' %}
            {% if request.endpoint == 'lista_usuarios' or request.endpoint.startswith('admin.') %}
                <a href="{{ url_for('painel_diario') }}">Painel de Trabalho</a>
            {% else %}
                <a href="{{ url_for('lista_usuarios') }}">Gerenciar Usuários</a>
            {% endif %}
        {% endif %}
        
        <a href="{{ url_for('logout') }}">Sair</a>
    {% endif %}
</nav>
    </header>

    <main id="pagina-{{ self.title().strip() | lower | replace(' ', '-') }}" class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>
</body>
</html>